<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Chatting App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="outer">
        <div class="container">
            <div class="innerElements">
                <h1>Hey There!</h1>
                <h2>Welcome to the Chatting App</h2>
                <div class="buttons">
                    <form action="/login" method="GET">
                        <button>Log In</button>
                    </form>
                    <form action="/register" method="GET">
                        <button>Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>