body{
    margin-left: 20px;
}

.chat{
    background-color:rgb(188, 223, 253);
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}

.msg{
    background-color:cadetblue;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
}