<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write New Chat</h3>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Who are you?"><br><br>
        <textarea name="msg">Write your message here!</textarea><br> <br>
        <input placeholder="add reciever" name="to"><br> <br>
        <button>Send</button>
    </form>

</body>
</html>