<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Login</title>
</head>

<body>
    <h1 class="heading">Login</h1>
    <form class="form" action="/login" method="POST">
        <div class="innerDiv">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="username" placeholder="Enter email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
            </div>
            <br>
            <br>
            <div>
                <button class="form-btn" type="submit">Login</button>
            </div>
        </div>
    </form>
    <button class="form-btn out-btn"><a href="/register">Register</a></button>

</body>

</html>