<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Contact</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3 class="heading">Create New Contact</h3>
    <form action="/contacts" method="post">
        <input type="text" name="name" placeholder="Enter Contact Name"><br><br>
        <input type="number" name="mobile" placeholder="Enter Contact Mobile Number"><br><br>
        <input type="mail" name="mail" placeholder="Enter Contact Mail"><br><br>
        <button class="btn-create">Create</button>
    </form>

</body>

</html>