body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background: #ffffff;
}

.fa-compass {
    color: crimson;
    font-size: 2rem;
}

.nav-link {
    color: black !important;
    font-size: 1.5rem;
}

.nav-link:hover{
    text-decoration: underline;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.card {
    margin-right: 1rem;
}

.card-container {
    overflow-x: auto;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-size: 400;
}

.listing-link {
    text-decoration: none;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
    transition: 0.2s;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}

/* New page */
.add-btn {
    background-color: crimson !important;
    border: none !important;
}

/* Edit page */
.edit-btn {
    background-color: crimson !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-right: 0;
    padding-left: 0;
}

/* Map styling */
#map {
    height: 400px;
    width: 80vh;
}