<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Search Engine</title>
</head>

<body>
    <div class="container">
        <h1>Search Engine</h1>
        <div class="searchInput">
            <input type="text" id="searchQuery" placeholder="Search..." />
            <button id="searchBtn"><i class="fa fa-search">&nbsp; &nbsp;Search</i></button>
        </div>
        <div id="results">
            <h2>Search Results</h2>
            <div id="loading-message"></div>
            <div id="youtube-results"></div>
            <div id="news-results"></div>
            <div id="scholar-results"></div>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>