<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3><%= 1 + 2 %></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat provident illum, minus necessitatibus iste, laboriosam dolore illo voluptatum corrupti assumenda nam natus tempora nostrum! Sunt eos esse aliquam incidunt saepe?
    Repellat autem temporibus aut qui doloribus enim totam facere, facilis consequatur molestias illum soluta assumenda cum voluptatem asperiores ipsa eum sint possimus nulla quidem delectus a doloremque praesentium! Perferendis, totam.
    In iure quasi odio veniam, explicabo voluptates debitis quae exercitationem eligendi dolorum rem reiciendis facere suscipit alias incidunt tempora quis voluptatum non laboriosam tenetur ad ipsa aspernatur sequi quia. Nobis?
    Velit odit ipsa aperiam at dignissimos assumenda eligendi dolorum esse optio fugit voluptate magnam, perspiciatis totam neque quo, a libero accusantium dolor eveniet harum explicabo nobis labore. Ducimus, eius velit!
    Eos rem adipisci natus voluptates deserunt voluptate odit delectus consequatur non. Perspiciatis odit quasi ea, ex nisi porro laboriosam totam aliquam consectetur atque molestiae accusantium aut explicabo, deleniti, esse nulla.</p>
    <button>Click Me!</button>
</body>
</html>