<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Dice Value: <%= diceVal %></h1>
    <% if(diceVal == 6){ %>
        <h2>Yay! You can roll dice again!</h2>
    <% } %>
</body>
</html>