/* div{
    height:30px;
    width:30px;
    background-color:rgba(0, 255, 98);
    /* transition-duration:  1s;
    transition-delay:  1s; */
    /*margin:0 auto;
    margin-top:10px;
    transition: margin-top 2s ease-in-out 0.2s;
} */
/* 
#opacity{
    background-color: #ffa511;
    opacity:0.5;
} */

/* div:hover{ */
    /* background-color: black;
    border-radius:50%; */
    /* margin-top:300%;
    background-color: burlywood;
} */

/* section{
    margin-top:100px;
}*/
 
/* div{
    width:200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 30px auto;
    box-shadow: 2px 2px 10px yellow;
    background-image:url("wlappaper.jpeg");
    background-size:cover;

}   */

/* div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}*/

#one{
    transform:rotate(45 deg);
}

#two{
    transform:scale(0.5);
}

#three{
    transform: translate(50px, 50px)
}

#four{
    transform: skew(40deg)
}

#five{
    transform:rotate(30deg) translateX(150px);
}

/* .card{
    width:250px;
    height:400px;
    border:2px solid black;
    display:inline-block;
    margin:10px;
    border-radius:5px;
    box-shadow: 2px 4px 10px black;
    transition: box-shadow 0.8s ease-in-out 0.2s;
}

.desc{
    padding:0 2px 0 2px;
}

img{
    width:100%;
    margin:5px;
    border-radius:5px 5px 0 0;
}

.card:hover{
    box-shadow: 0 8px 16px black;
} */

div{
    height:100px;
    width:100px;
    background-color: green;
    text-align: center;
    border:3px solid black;
    margin: 20px;
    display: inline-block;
}

#static{
    background-color: yellow;
    position: static;
    top:100px;
    left:100px;
}

#relative{
    background-color: yellow;
    position: relative;
    top:100px;
    left:100px;
}

#absolute{
    background-color: yellow;
    position: absolute;
    top:100px;
    left:100px;
}

#fixed{
    background-color: yellow;
    position: fixed ;
    top:100px;
    left:100px;
}

/* .face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius:50%;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    top:250px;
    left:100px;
}

.right-eye, .left-eye{
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right-eye{
    left: 250px;
} */

/*Qs1.Add a 2s transition on box1 for width changes.It should have'ease-in'speed curve & 0.5s delay*/
/* #box1{
    width:100px;
    height:100px;
    background:green;
    transition:width 2s ease-in 0.5s;
}
#box1:hover{
    width:600px;
} */
/*Qs2.Using transform,move box 200px to the right & 200px down.Also rotate it 90deg.*/
/* #box2{
    width:100px;
    height:100px;
    background:red;
    transform: rotate(90deg);
    position:absolute;
    left:200px;
    top:200px;
} */
/*Qs3.Using transform,skew box3 20deg along the x axis.*/
/* #box3{
    width:100px;
    height:100px;
    background:lightblue;
    transform: skewX(20deg);
} */
/*Qs4.Set a 2px horizontal & 2px vertical, green shadow for box4,with a 5px blur radius.*/
/* #box4{
    width:100px;
    height:100px;
    background:lightgreen;
    box-shadow: 2px 2px 5px green;
} */
/*Qs5.Set Your picture or any picture as the background of the div "myPic". Also, set transparency of this div to 50%.*/
/* #myPic{
    width:200px;
    height:200px;
    background-image:url("womanimg.jpg");
    background-size: cover;
    opacity:50%;
} */