/* h2{ */
    /* color:rgb(140,16,90); */
    /* color:red; */
    /* color:#00ff00; */
    /* color:#0f0; */
    /* color:#ffffff; */
    /* color:rgb(240,200,20) */
    /* color:rgb(10,150,200);
    text-align:center;
    font-weight: 800;
}
h1{
    text-align:center;
    text-decoration:wavy red underline;
    letter-spacing:8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    text-align:center;
    text-decoration:overline;
    font-size:30px;
}

p{
    text-align:center;
    font-weight:400;
    line-height:2;
    font-size:20px;
    font-family:'Tahoma', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
} */
/* p{
    color:white;
    background-color:black;
}
button{
    color:white;
    background-color:blue;
} */
/* 
h1{
    font-family:league spartan;
    color:#ffa511;
    text-align:center;
    size:55px;
    font-weight:900;
    letter-spacing:2px;
    line-height:1.5;
    text-decoration:double underline teal;
    text-transform:uppercase;
} */

body{
    text-align:center;
    font-family:georgia;
}
p{
    color:red;
    line-height:30px;
}
h3{
    color:black;
}
a{
    text-decoration:none;
    color:rgb(0,255,0)
}
button{
    background-color:white;
    color:blueviolet;
}
textarea{
    color:#000000;
}
